html {
    overflow-y:scroll;
}

input:focus::placeholder{
	color:transparent;
}

.navbar{
	background: linear-gradient(to bottom, #0076b1, #12a3eb);
	-webkit-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.75);
}

.navbar-dark .navbar-nav .nav-link {
	color: rgba(255, 255, 255, 1);
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
	color: rgba(255, 255, 255, 1);
}        

.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
	color: #fff;
}

.navbar-dark .navbar-nav .active{
	font-weight: bold;
}

#user-pane .user-spot{
	display: none;
}

#user-pane .avatar{	
	cursor: pointer;
	width: 36px;
	height: 36px;
	margin: 7px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;	
	border-color: #ffffff;
	border-width: 1px;
	border-style: solid;
	border-radius: 18px 18px 18px 18px;
	-moz-border-radius: 18px 18px 18px 18px;
	-webkit-border-radius: 18px 18px 18px 18px;
}

a.anchor {
    display: block;
    position: relative;
    top: -85px;
    visibility: hidden;
}

.menu-toggler{
	width: 36px;
	height: 36px;
	line-height: 36px;
	color: #ffffff;
	cursor: pointer;
	text-align: center;
   
}

.content{
	height: 100%;
	padding-top: 85px;
}

.content a{
	overflow-wrap: break-word;
}

#reset-btn{
	display: none;
	position: absolute;
	right: 42px;
	top: 12px;
	background-color: #ffffff;
	width: 36px;
	text-align: center;
	cursor: pointer;
}

#search-btn{
	position: absolute;
	right: 2px;
	top: 12px;
	background-color: #ffffff;
	width: 36px;
	text-align: center;
	cursor: pointer;
}

#issueNote{
	display: none;
	line-height: 1rem;
	font-size: 0.8rem;
}

#results .card-body s, #peepModal .modal-body s{
	text-decoration: none;
	color: red;
}

#results .card-body i, #peepModal .modal-body i{
	color:green;
}

#results .card-body u, #peepModal .modal-body u{
	text-decoration: none; background-color: #eed80e;
}

#results .card .card-panel{
	position: absolute;
	display: none;
	right:5px;
	top: 5px;
}

#results div.card:hover .card-panel{
	display: block;
}

#loading{
	display: none;
	margin-top: 5rem;
	text-align: center;
	font-size: 3rem;
	color: #cccccc;
}

.modal-content .close{
	position: absolute;
	right: 10px;
	top: 8px;
	z-index: 1000;
}

.card {
	margin-top: .5rem;
	margin-bottom: .5rem;
   
}

.card-body{
	padding: 0.75rem;
}

.footer-separator{
	border-top: 1px solid #cccccc;
	width: 33%;
	margin: 0px auto 0px auto;
}

#issue-range{
	overflow: auto;
	max-height: 250px;
}

#issue-range pre{
	overflow: visible;
}

#issueModal .loading{
	display: none;
}