input:focus::placeholder{
	color:transparent;
}

.navbar{
	background: linear-gradient(to bottom, #0076b1, #12a3eb);
	-webkit-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.75);
}

.navbar-dark .navbar-nav .nav-link {
	color: rgba(255, 255, 255, 1);
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
	color: rgba(255, 255, 255, 1);
}        

.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
	color: #fff;
}

.menu-toggler{
	width: 36px;
	height: 36px;
	line-height: 36px;
	color: #ffffff;
	cursor: pointer;
	text-align: center;
   
}

.content{
	height: 100%;
	padding-top: 85px;
}

.content a{
	overflow-wrap: break-word;
}

#search-btn{
	position: absolute;
	right: 2px;
	top: 8px;
	background-color: #ffffff;
	width: 36px;
	text-align: center;
}

#results s, #peepModal .modal-body s{
	text-decoration: none;
	color: red;
}

#results i, #peepModal .modal-body i{
	color:green;
}

#results u, #peepModal .modal-body u{
	text-decoration: none; background-color: #eed80e;
}

.modal-content .close{
	position: absolute;
	right: 10px;
	top: 8px;
	z-index: 1000;
}

.card {
	margin-top: .5rem;
	margin-bottom: .5rem;
   
}

.card-body{
	padding: 0.75rem;
}

.footer-separator{
	border-top: 1px solid #cccccc;
	width: 33%;
	margin: 0px auto 0px auto;
}
